// @import 'mixin.less';
// @import 'base.less';
@import 'flex-layout.less';
//color
@import 'material-colors.less';

//theme
@theme-color: @md-blue-600;
@theme-font-color: @md-white;

// font-size
@book-toolbar-font-size: 20px;
@book-logo-font-size: 24px;

// @sidebar-width: 210px;
@sidebar-width: 0;
@sidebar-main-padding: 135px;